<h2>Categories</h2>
  <div>
    <label>Name</label> <input class="" #categoryName/>
    <button class="btn btn-primary" (click)="add(categoryName.value); categoryName.value=''">
      Add
    </button>
  </div>
  <ul class="categories">
    <li *ngFor="let category of categories"
      [class.selected]="category === selectedCategory"
      (click)="onSelect(category)">
      <span class="badge">{{category.id}}</span><span> {{category.name}}</span>
      <button class="btn btn-primary" (click)="delete(category);$event.stopPropagation()">x</button>
    </li>
  </ul>
  <div *ngIf="selectedCategory">
    <button class="btn btn-primary" (click)="gotoDetail()">View Details</button>
  </div>
